In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
path = "E:\MIMIC_III\mimic-iii-clinical-database-1.4\\"

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\beta\AppData\Local\Temp\ipykernel_21932\2844550593.py:1: SyntaxWarning: invalid escape sequence '\M'
  path = "E:\MIMIC_III\mimic-iii-clinical-database-1.4\\"

In [9]:
admissions = pd.read_csv(path + "admissions.csv")

In [12]:
patients = pd.read_csv(path + "patients.csv")

In [13]:
labevents = pd.read_csv(path + "labevents.csv")

In [14]:
labevents.shape

(27854055, 9)

In [15]:
import pandas as pd
import os

chunk_size = 30_000_000
output_dir = "E:\Chartevents\\"
# Create output directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Read and save the CSV file in chunks
chunk_iterator = pd.read_csv(path + 'chartevents.csv', chunksize=chunk_size)

# Process and save each chunk
for i, chunk in enumerate(chunk_iterator):
    output_file = f"{output_dir}chartevents_chunk_{i + 1}.csv"
    chunk.to_csv(output_file, index=False)
    print(f"Chunk {i + 1} saved to {output_file}")

<>:5: SyntaxWarning: invalid escape sequence '\C'
<>:5: SyntaxWarning: invalid escape sequence '\C'
C:\Users\beta\AppData\Local\Temp\ipykernel_21932\1883416811.py:5: SyntaxWarning: invalid escape sequence '\C'
  output_dir = "E:\Chartevents\\"

Chunk 1 saved to E:\Chartevents\chartevents_chunk_1.csv

C:\Users\beta\AppData\Local\Temp\ipykernel_21932\1883416811.py:13: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iterator):

Chunk 2 saved to E:\Chartevents\chartevents_chunk_2.csv
Chunk 3 saved to E:\Chartevents\chartevents_chunk_3.csv
Chunk 4 saved to E:\Chartevents\chartevents_chunk_4.csv
Chunk 5 saved to E:\Chartevents\chartevents_chunk_5.csv
Chunk 6 saved to E:\Chartevents\chartevents_chunk_6.csv

C:\Users\beta\AppData\Local\Temp\ipykernel_21932\1883416811.py:13: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iterator):

Chunk 7 saved to E:\Chartevents\chartevents_chunk_7.csv
Chunk 8 saved to E:\Chartevents\chartevents_chunk_8.csv

C:\Users\beta\AppData\Local\Temp\ipykernel_21932\1883416811.py:13: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(chunk_iterator):

Chunk 9 saved to E:\Chartevents\chartevents_chunk_9.csv
Chunk 10 saved to E:\Chartevents\chartevents_chunk_10.csv
Chunk 11 saved to E:\Chartevents\chartevents_chunk_11.csv
Chunk 12 saved to E:\Chartevents\chartevents_chunk_12.csv

In [16]:
chartevents1 = pd.read_csv(output_dir + 'chartevents_chunk_1.csv')

In [17]:
chartevents1.shape

(30000000, 15)

In [18]:
chartevents1.tail(5)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
29999995,30071435,90115,195890,267760.0,226457,2181-08-30 03:00:00,2181-08-30 04:06:00,15405.0,140.0,140.0,mL,0,0,NaN,NaN
29999996,30071436,90115,195890,267760.0,220228,2181-08-30 03:05:00,2181-08-30 03:06:00,20889.0,8.8,8.8,g/dl,1,0,NaN,NaN
29999997,30071437,90115,195890,267760.0,225674,2181-08-30 03:05:00,2181-08-30 03:06:00,20889.0,87.0,87.0,%,0,0,NaN,NaN
29999998,30071438,90115,195890,267760.0,226540,2181-08-30 03:05:00,2181-08-30 03:06:00,20889.0,26.0,26.0,%,0,0,NaN,NaN
29999999,30071439,90115,195890,267760.0,220228,2181-08-30 03:41:00,2181-08-30 04:21:00,20889.0,9.8,9.8,g/dl,1,0,NaN,NaN

In [19]:
chartevents2 = pd.read_csv(output_dir + 'chartevents_chunk_2.csv')

C:\Users\beta\AppData\Local\Temp\ipykernel_21932\72263235.py:1: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents2 = pd.read_csv(output_dir + 'chartevents_chunk_2.csv')

In [20]:
chartevents2.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,30030673,90036,156454,261202.0,220210,2112-09-19 01:10:00,NaN,NaN,26.0,26.0,insp/min,0.0,0.0,NaN,NaN
1,30030674,90036,156454,261202.0,220277,2112-09-19 01:10:00,NaN,NaN,93.0,93.0,%,0.0,0.0,NaN,NaN
2,30030675,90036,156454,261202.0,220045,2112-09-19 01:11:00,NaN,NaN,86.0,86.0,bpm,0.0,0.0,NaN,NaN
3,30030676,90036,156454,261202.0,220210,2112-09-19 01:11:00,NaN,NaN,22.0,22.0,insp/min,0.0,0.0,NaN,NaN
4,30030677,90036,156454,261202.0,220277,2112-09-19 01:11:00,NaN,NaN,95.0,95.0,%,0.0,0.0,NaN,NaN